* {
  background-color:black ;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Arial;
  /* margin-top: 40%; */
  background-color: transparent;
  align-items: center;
  font: bold;
  /* opacity: 1; */
}
/* a:hover{
  color: white;
} */
p {
  /* color: white; */
  text-decoration: none;
  margin-top: 80px;
  background-color: transparent;
  transition: color 0.3s ease;
}
/* .div1:hover p { */
  /* color: white; */
/* } */
/* .pa{
  position: relative;
  height: 700px;
  width: 600px;
  margin-left: 100%;
  background-color: white;
} */
.par {
  background-color: black;
}
.pa1 {
  display: flex;
  align-content: center;
  /* height: 50px; */
  /* width: 100px; */
  background-color: white;
  /* justify-content: center; */
}
.div1 {
  margin-left: 48%;
  height: 150px;
  bottom: 15px;
  left: 60px;
  border-radius: 50%;
  width: 155px;
  background: black;
  color: #007185;
  /* border-top: blue; */
  /* top: 10px; */
  /* padding: 2rem; */
  /* margin-top: 50px; */
  /* text-align: center; */
  /* align-items: center;   */
  /* border-radius: 50%; */
  /* position: absolute; */
}
.img1 {
  height: 25px;
  width: 25px;
  background-image: url(ash.jpg);
  background-size: cover;
  border-radius: 50%;
}
.img1:hover {
  /* background-color: black; */
  height: 1px;
  width: 1px;
}
/* .div1 {
  border-radius: 5px;
  height: 150px;
  position: absolute;
  width: 150px;
  color: #007185;
  font-style: italic;
  margin-left: 48%;
  margin-top: 20px;
  border-radius: 50%;
  border:2px solid blue;
  background-image:conic-gradient(red , blue , green) ;
}  */
/* .col1{
  height: 150px;
  width: 150px;
  top: 100px;
  margin-left: 60px;
  margin-top:40px;  
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;    
  border-radius: 50%;
  background-color: blue;
  background-image:conic-gradient(red , blue , green, yellow, pink) ;
  margin-left: 0px;    
  z-index: -1;
  animation: loader 1s ease-in 0s infinite normal;
}
@keyframes loader{
  from{ 
      transform:rotate(0deg);
  }
  to{
      transform:rotate(360deg);
  }

} */
.div1:hover {
  height: 160px;
  width: 165px;
  border-radius: 50%;
  background-color: black;
  margin-left: 45%;
  color:black;
  text-align: center;
  background-image: url(ash.jpg);
  background-size: cover;
  /* margin-top: 10px; */
  /* border-top: 5px solid blue; */
  /* animation: loader 1s ease-in 0s infinite normal; */
}
/* @keyframes loader{
    from{ 
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
} */
/* .div2 {
  height: 150px;
  width: 100px;
  text-align: center;
  color: #007185;
  font-style: italic;
  margin-left: 48%;
  margin-top: 1px;
} */
.div2 {
  margin-left: 48%;
  height: 150px;
  bottom: 15px;
  left: 60px;
  border-radius: 50%;
  width: 155px;
  background: black;
  color: #007185;
}
/* .div2:hover {
  height: 150px;
  width: 155px;
  background-color: black;
  margin-left: 45%;
  color: white;
  text-align: center;
  margin-top: 90px;
  background-image: url(bad.jpg);
  background-size: cover;
} */
.div2:hover {
  height: 150px;
  width: 155px;
  border-radius: 50%;
  background-color: black;
  margin-left: 45%;
  color: white;
  text-align: center;
  background-image: url(bad2.jpg);
  background-size: cover;
}
.img2 {
  height: 25px;
  width: 25px;
  background-image: url(bad.jpg);
  background-size: cover;
  border-radius: 50%;
}
/* .div3 {
  height: 50px;
  width: 100px;
  color: #007185;
  font-style: italic;
  margin-left: 48%;
  margin-top: 100px;
} */
.div3 {
  margin-left: 48%;
  height: 150px;
  bottom: 15px;
  left: 60px;
  border-radius: 50%;
  width: 155px;
  background: black;
  color: #007185;
}
/* .div3:hover {
  height: 150px;
  width: 155px;
  background-color: black;
  margin-left: 45%;
  margin-top: 90px;
  color: white;
  text-align: center;
  background-image: url(pri.jpg);
  background-size: cover;
} */
.div3:hover {
  height: 150px;
  width: 155px;
  border-radius: 50%;
  background-color: black;
  margin-left: 45%;
  color: white;
  text-align: center;
  background-image: url(pri.jpg);
  background-size: cover;
}
.img3 {
  height: 25px;
  width: 25px;
  background-image: url(pri.jpg);
  background-size: cover;
  border-radius: 50%;
}
/* .div4 {
  height: 50px;
  width: 100px;
  color: #007185;
  font-style: italic;
  margin-left: 48%;
  margin-top: 100px;
} */
.div4 {
  margin-left: 48%;
  height: 150px;
  bottom: 15px;
  left: 60px;
  border-radius: 50%;
  width: 155px;
  background: black;
  color: #007185;
}
/* .div4:hover {
  height: 150px;
  width: 155px;
  border-radius: 50%;
  color: white;
  text-align: center;
  background-color: black;
  margin-left: 45%;
  margin-top: 90px;
  background-image: url(goru.jpg);
  background-size: cover;
} */
.div4:hover {
  height: 150px;
  width: 155px;
  border-radius: 50%;
  background-color: black;
  margin-left: 45%;
  color: white;
  text-align: center;
  background-image: url(goru3.jpg);
  background-size: cover;
}
.img4 {
  height: 25px;
  width: 25px;
  background-image: url(goru3.jpg);
  background-size: cover;
  border-radius: 50%;
}
.div5 {
  height: 100px;
  width: 100px;
  background-color: black;
  background-color: transparent;
  background-image: url(is.jpeg);
  background-size: cover;
}
